*{
	margin: 0;
	padding:0;
}

nav{
	background-image: url(../img/pokemon.png);
	background-repeat: no-repeat;                          
	height: 150px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:480px 160px;
	background-position:55% 95%;	
}
nav h1,
nav form{
	padding-left: 30px;
}

#home{
	background-color: #71D7B6;
}