*{
	margin: 0;
	padding:0;
	font-family: 'Marko One', serif;
}

/*diseño nav*/

nav{
	background-image: url(../img/pokemon.png);
	background-repeat: no-repeat;                          
	height: 150px;       
	width: 100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:480px 160px;
	background-position:55% 95%;	
}

nav h1,
nav form{
	padding-left: 30px;
}

/*diseño home*/
#home{
	background-color: #71D7B6;
}

.col-md-3{
	color: #58615C;
	font-weight: 600;
	text-align: center;
}

.col-md-3 img{
	background-color: #C3F9BD;
}

#pokemon{
	background-color: #C3F9BD;
	text-align: center;
	color: #252925;
}
#pokemon h1{
	color: #11420B;
}

#pokemon h3{
	text-decoration: underline;
}